<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-2" style="min-width:185pt;">
					<div id="fh5co-logo"><a href="/">Medical card</a> </div>
				</div>
				<div class="col-md-6 col-xs-6 text-center menu-1">
					<ul>
						<li
						{{#index}}
							class="active"
						{{/index}}						
						>
							<a href="/">About</a>
						</li>
						{{#admin}}
									<li {{#adminpanel}}
										class="active"
									{{/adminpanel}}>
										<a href="/adminpanel">Admin panel</a>
									</li>		
						{{/admin}}
						{{^admin}}
								
						{{#doctor}}
							<li>
								<a href="/profile">Profile</a>
							</li>
						{{/doctor}}
						{{^doctor}}
							{{#patient}}
							<li>
								<a href="/profile">Profile</a>
							</li>
							{{/patient}}
						{{/doctor}}
						
						{{#patient}}
							<li>
								<a href="/records">Medical records</a>
							</li>
						{{/patient}}
						
						{{#doctor}}
							<li>
								<a href="/records">Medical records</a>
							</li>
						{{/doctor}}
						{{/admin}}
						
						<li
						{{#contact}}
							class="active"
						{{/contact}}
						><a href="contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
					<ul>
						{{#doctor}}
							<li>
								<a href="/logout">Log Out</a>
							</li>
						{{/doctor}}
						{{^doctor}}
							{{#patient}}
							<li>
								<a href="/logout">Log Out</a>
							</li>
							{{/patient}}
							{{^patient}}
							{{#admin}}
							<li>
								<a href="/logout">Log Out</a>
							</li>
							{{/admin}}
							{{^admin}}
						<li class="
						{{#login}}
							active
						{{/login}}
						has-dropdown">
							<a>Login</a>
							<ul class="dropdown">
								<li><a href="patientlogin">As Patient</a></li>
								<li><a href="doctorlogin">As Doctor</a></li>
								<li><a href="adminlogin">As Moderator</a></li>
							</ul>
						</li>
						<li class="
						{{#register}}
							active
						{{/register}}
						has-dropdown">
							<a href="register">Register</a>
							<ul class="dropdown">
								<li><a href="patientregistration">As Patient</a></li>
								<li><a href="doctorregistration">As Doctor</a></li>
							</ul>
						</li>
						{{/admin}}{{/patient}}{{/doctor}}
					</ul>
				</div>
			</div>
			
		</div>
	</nav>